@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/styles.css */
body {
    font-family: Arial, sans-serif;
  }
  
  .App {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: space-between;
  }
  
  input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  button {
    margin-left: 10px;
  }
  